body {
    display: flex;
    background-color: #343434;
    justify-content: center;
    align-content: center;
    height: 100vh;
    color: antiquewhite;
}

.container {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}

.btns {
    display: flex;
    gap: 120px;
    margin: 20px;
}

.scores {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    text-align: center;
}

.score, 
.game {
    width: 200px;
    display: flex;
    flex-direction: column;
    flex: 1;
    
}

.game {
    flex: 2;
}

.state {
    display: flex;
    justify-content: space-between;
    border: 5px solid black;
}

.state p {
    flex: 1;
}

.vs {
    display: flex;
    align-items: center;
    font-size: 24px;
}

#round {
    flex: 1;
    margin: 20px;
}

#c-score,
#u-score {
    font-size: 200px;
}

#u-choice,
#c-choice {
    width: 200px;
    height: 200px;
}

button {
    padding: 0;
    background-color: #565656;
    width: 250px;
    height: 250px;
}

p {
    margin: 0px;
}