body {
    display: flex;
    background-color: #343434;
    justify-content: center;
    align-content: center;
    height: 100vh;
    color: antiquewhite;
}

.container {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}

.btns {
    display: flex;
    gap: 30px;
}

.scores {
    display: flex;
    justify-content: space-around;
}

.u-score, 
.cpu-score {
    display: flex;
    flex-direction: column;
}

button {
    width: 200px;
    height: 200px;
}